body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:cornsilk;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading{
  text-align: center;
  color: violet;
  font-size: medium;
}
.button_css{
  display: inline-block;
  margin-left: 20%;
  margin-top: 5%;
 
  
}
.input_css{
  display: inline-block;
  margin-left: 43%;
}
